:host {
  @apply block w-full;
  
  button {
    @apply w-full;
  }
}

::ng-deep .new-chat-button {
  /* Light mode - keep default primary color */
  @apply text-black hover:bg-gray-200  ;

  /* Dark mode - white button */
  @apply dark:bg-gray-800 dark:text-white dark:hover:bg-gray-900 !important;
  
  /* Ensure Material button respects our styles */
  .mdc-button__label {
    @apply dark:text-white;
  }
}