:host {
    @apply flex flex-col h-full;
  }
  
  .chat-list-container {
    @apply flex-1 overflow-y-auto;
    /* Custom scrollbar styling */
    &::-webkit-scrollbar {
      width: 6px;
    }
    
    &::-webkit-scrollbar-track {
      @apply bg-transparent;
    }
    
    &::-webkit-scrollbar-thumb {
      @apply bg-slate-300 dark:bg-slate-700 rounded-full;
      
      &:hover {
        @apply bg-slate-400 dark:bg-slate-600;
      }
    }
  }
  
  .chat-list {
    @apply list-none m-0 p-0 space-y-1;
  }
  
  .state-message {
    @apply flex items-center justify-center h-full p-4;
  }
  .chat-list {
    li.active {
      @apply bg-slate-100 dark:bg-gray-800;
    }
  }