

:host {
  @apply block;
}

::ng-deep .dark-menu  {
  .mat-mdc-menu-panel {
    @apply bg-white dark:bg-gray-700 border border-slate-200 dark:border-gray-200 shadow-lg;
  }

  .mat-mdc-menu-content,
  .mat-mdc-menu-item {
    @apply bg-white dark:bg-gray-700 text-slate-900 dark:text-gray-100 ;
  }


  .mat-mdc-menu-item:hover {
    @apply bg-slate-100 dark:bg-gray-500;
  }
}