.sidebar-container {
  @apply flex flex-col h-full bg-white dark:bg-gray-950 border-r border-slate-200 dark:border-gray-600;
  @apply min-w-[280px] max-w-[320px] overflow-y-auto;
}

.sidebar-header {
  @apply flex flex-col p-4 flex-shrink-0;
}

.divider {
  @apply border-b border-slate-200 dark:border-gray-500 ;
}

.sidebar-search {
  @apply flex-shrink-0 p-4;
}

.sidebar-body {
  @apply flex-1 min-h-0 overflow-hidden p-4;
}

/* Mobile adjustments */
@media (max-width: 1023px) {
  .sidebar-container {
    @apply min-w-full max-w-full;
  }
}