:host {
    @apply w-full;
  }
  
  ::ng-deep .search-field {
    .mat-mdc-form-field {
      @apply dark:bg-gray-800;
    }
  
    .mat-mdc-text-field-wrapper {
      @apply dark:bg-gray-800;
    }
  
    .mat-mdc-form-field-input-control {
      @apply dark:text-white;
    }
  
    .mat-mdc-input-element {
      @apply dark:text-white;
      
      &::placeholder {
        @apply dark:text-gray-400;
      }
    }
  
    .mat-mdc-form-field-label {
      @apply dark:text-white;
    }
  
    .mat-mdc-form-field-outline {
      @apply dark:text-gray-600;
    }
  
    .mat-mdc-form-field-focus-overlay {
      @apply dark:bg-gray-800;
    }
  }