<mat-form-field appearance="outline" class="w-full search-field">
  
  <input 
    matInput 
    [formControl]="query" 
    (input)="onInput(query.value ?? '')"
    class="dark:text-white dark:border-white"
    placeholder="Search Chats"
  />
  <button 
    mat-icon-button 
    matSuffix 
    (click)="query.setValue(''); search.emit('')"
    class="dark:text-white"
  >
    <mat-icon class="dark:text-white">close</mat-icon>
  </button>
  <mat-icon matPrefix class="dark:text-white">search</mat-icon>
</mat-form-field>